body{
    height: 100vh;
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    background-color: rgb(65, 87, 87);
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
}

.quiz-container{
    border: 1px solid #160101;
    background-color: black;
    box-shadow:0px 0px 2px 2px;
    font-size: 25px;
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
}


/* MOBILE PHONE POTRAIT */
@media only screen and (max-width: 480px) { 
    .quiz-container{
      width: 90%;
      height: 70%;
    }


}

.start-text{
    /* background-color: yellow ; */
    text-transform: capitalize ;
    width: 80%;
    height: 80%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

#start-button{
    width: 80%;
    height: 70px;
    color: green;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
}


/* MOBILE PHONE POTRAIT */
@media only screen and (max-width: 480px) { 
    .start-text{
        font-size: 25px;
        width: 100%;
        height: 70%;
        align-items: center;
    }

    #start-button{
        width: 80%;
        height: 70px;
        font-size: 30px;
        font-weight: bold;
    }

}

.start-paragraph{
    text-align: center;
}

.start-button{
    width: 40%;
    height: 50px;
}

.score-container{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
}

#score{
    width: 80px;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #ffffff;

}

.score-h3{
    color: rgb(34, 247, 6);
    margin-top: 3px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-left: 5px;


}


.question-container{
    width: 90%;
    height: 30%;
    border-radius: 5px;
    padding: 5px;
}

.questions{
    width: 99%;
    height: 99%;
    border-radius: 5px;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}

.answer-container{
    height: 60%;
    width: 90%;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    justify-content: space-around;


}

.answers{
    color: white;
    width: 80%;
    height: 30%;
    text-transform: uppercase;

}

@media only screen and (max-width: 480px) { 
      .answer-container{
          width: 90%;
          height: 40%;
      }

}


button{
    border: 2px solid white;
    color: rgb(94, 94, 245);
    background: transparent;
    width: 70%;
    height: 40%;
    font-size: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 480px) { 
    button{
        width: 100%;
        height: 35%;
    }
}

.hide{ 
    display: none;
 }

p{
    margin: 0;
}




